@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato&family=Nosifer&family=Orbitron&family=Parisienne&family=Schoolbell&display=swap');

body{
  background-color: #F5F5F5; 
  font-family: 'Lato', sans-serif;
 }

#search{
  text-align: center;
}

#authorName{
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  width: 200px;
}

button{
  font-family: 'Lora', serif;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #333;
  cursor: pointer;
}


#authorDisplay{
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 3;
  padding: 0.5rem;
  margin: 0.5rem;
  height: 60vh;
}

#name{
  text-decoration: underline black 1px;
  grid-column: 1;
  font-size: 32px;
  margin-bottom: 10px;
  text-align: center;
}

#dob, #topWork{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
}


#genres{
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 10px 0;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
}

#genres li{
  margin: 5px;
}

h1{
  text-align: center;
}

.fantasy{
  font-family: 'Great Vibes', cursive;
  background-color: #cacaca;
  color: #646060;
}

.horror{
  font-family: 'Nosifer', cursive;
  background-color: #2c2c2c;
  color: #fc0e0e;
}

.science-fiction{
  font-family: 'Orbitron', sans-serif;
  background-color: #363d52;
  color: #3769ff;
}

.romance{
  font-family: 'Parisienne', cursive;
  background-color: #fad1f1;
  color: #b8070d;
}

.childrens{
  font-family: 'Schoolbell', cursive;
  background-color: #474747;
  color: #f0f0f0;
}

.default{
  background-color: #F5F5F5; 
  font-family: 'Lato', sans-serif;
}