*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#search{
  text-align: center;
}

#authorDisplay{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 3;
  padding: 0.5rem;
  margin: 0.5rem;
  height: 60vh;
}

#name{
  text-decoration: underline black 1px;
  grid-column: 1;
}

#dob{
  align-self: center;
  grid-column: 1;
}

#topWork{
  grid-column: 1;
}

#genres{
  grid-column: 2;
  grid-row: 2;
}

h1{
  text-align: center;
}